body{
    font-family: 'Courier New', Courier, monospace;
}
.form-container{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: fixed;
    left: 35vw;
    top: 35%;
}
p{
    margin-top: 0;
    color: red;
}
input{
    padding: 5px;
    border-radius: 5px;

}
input:focus{
    outline-color:#1585e6;
}
#btn{
    width: 70px;
    color: white;
    background-color: #1585e6;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: auto;
    cursor: pointer;
}